@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.signup-container {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.signup-inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

.signup-title {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800;
  font-family: "Prompt", sans-serif;
  color: #212529;
}

.signup-form-container {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

.signup-form-inner-container {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  font-family: "Prompt", sans-serif;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.signup-input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: "Prompt", sans-serif;
}

.signup-button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #00bf6c;
  font-family: "Prompt", sans-serif;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.signup-button:hover {
  background-color: #00a65a;
}

.signup-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 191, 108, 0.5);
}

.message {
  margin-top: 1rem;
  text-align: center;
  color: #6c757d;
  font-family: "Prompt", sans-serif;
  font-size: 0.875rem;
}
